.env/
*.pyc
search_employees/items/
search_employees/build/
search_employees/dbs/
search_employees/eggs/
search_employees/logs/
search_employees/project.egg-info/
search_employees/twistd.pid
search_employees/setup.py
search_employees/search_employees/settings_local.py
xing_django/xing_django/settings_local.py
xing_django/logs/
